/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes pisca {
  /*animação do botoes*/
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #e5e5e5;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Estrutura da urna */
.Urna {
  background: #ccc;
  border: 3px solid #333;
  border-radius: 12px;
  width: 600px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/* Tela */
.tela {
  flex: 3;
  min-width: 600px;
  background: #fff;
  border-right: 1px solid #333;
  padding: 20px;
  font-size: 1.2rem;
  color: #111;
  display: flex;
  flex-direction: column;
}

/* Teclado */
.teclado {
  flex: 1;
  background: #222;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.teclado-linha {
  display: flex;
  justify-content: center;
  margin: 8px 30px 8px 30px;
}

.teclado-botao {
  background: #444;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  padding: 5px 12px 5px 12px;
  width: 100px;
  height: 50px;
  margin: 9px 10px 9px 10px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.4);
  transition: transform 0.1s ease, background 0.2s;
}

.teclado-botao:hover {
  background: #555;
}

.teclado-botao:active {
  transform: scale(0.95);
}

/* Botões especiais */
.btn-branco {
  background: #fff;
  color: #000;
  width: 80;
}

.btn-corrige {
  background: #f59e0b;
  color: #000;
  width: 80px;
}

.btn.confirma {
  background: #10b981;
  color: #fff;
  font-size: 1em;
  width: 120px;
}
.d-1 {
  flex: 1;
  display: flex;
}

.d-1-left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.d-1-1 {
  height: 50px;
  display: flex;
  align-items: center;
}

.d-1-2 {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-1-3 {
  height: 50px;
  display: flex;
  gap: 2px;
  align-items: center;
}

.numero {
  display: inline-block; /*  faz com que fique um ao lado de outro em forma de bloco. */
  width: 30px;
  height: 40px;
  border: 3px solid #000;
  text-align: center;
  line-height: 35px;
  font-size: 25px;
}

.pisca {
  animation-name: pisca;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.d-1-4 {
  flex: 1;
  line-height: 30px;
}

.d-1-right {
  width: 140px;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
}

.d-1-image {
  border: solid 1px #000;
  display: flex;
  background-color: #fff;
  align-items: center;
  font-size: 14px;
}

.d-1-image {
  border: 1px solid #000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
  padding: 4px;
}

.d-1-image.small img {
  width: 60px;
}

.d-2 {
  height: 50px;
  font-size: 14px;
  border-top: 2px solid #000;
  padding-left: 5px;
}

.aviso-grande {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.aviso-gigante.pisca {
  flex: 1;
  font-weight: 500;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Log-votos {
  margin-top: 20px;
  width: 600px; /* mesma largura da urna */
  display: flex;
  gap: 20px;
}

.votos-vereador,
.votos-prefeito {
  flex: 1;
  background: #fff;
  border: 1px solid #000;
  padding: 10px;
  min-height: 120px;
  text-align: center;
}
